{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}

<br><br><br>
    <p class="text-center text-white pt-5" style="font-size: 150px; font-family: 'Faster One', cursive;">Contact Us</p>
<div class="row small-up-1 medium-up-2 large-up-3" style="margin: 0 auto;">
    <div class="callout" style="justify-content: center">
        <br>
        <p>Contact us on:</p>
        <p>Twitter</p>
        <p>Facebook</p>
        <p>Instagram</p>
        <p>Youtube</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nisl justo, rhoncus et tellus a, fringilla facilisis nisi. Donec porttitor pulvinar feugiat. Vivamus iaculis quam felis, in vulputate tellus feugiat quis. Vivamus a ex quis velit congue interdum vitae nec erat. Pellentesque sagittis pretium ante nec porta. Aenean id velit ut orci aliquet tincidunt. Pellentesque faucibus mi tristique risus varius feugiat. Vivamus aliquam massa nibh, a sodales nisi placerat eu. Nulla pharetra, erat eget dictum elementum, mauris tortor accumsan velit, ac semper eros turpis quis sem. Etiam ligula tellus, dictum vel vestibulum nec, tincidunt a eros. Nam at arcu et tellus dignissim pulvinar a at massa. Suspendisse finibus elementum nulla sed lobortis. In a felis et lectus feugiat sollicitudin in sit amet justo. Vestibulum non tincidunt eros, eu mattis metus. In cursus nisi leo, sit amet vehicula nunc venenatis ac. Donec cursus nec quam eget ornare.

Suspendisse potenti. Ut ullamcorper nulla eget placerat vulputate. Curabitur consectetur justo ut ante posuere maximus. Nam a sollicitudin orci. Vivamus vehicula non mi et vehicula. Vivamus eleifend nulla lorem, vel vehicula velit sodales id. Morbi semper dignissim nisi non sodales. In augue risus, elementum quis ultrices a, viverra at sem. Pellentesque rhoncus sem in enim maximus tincidunt. Suspendisse ut faucibus ex. Aenean id ipsum in justo tincidunt porttitor. Donec accumsan nulla eu lectus varius, non laoreet justo commodo. Nulla mollis augue ut erat maximus, et interdum ipsum imperdiet.

Proin tristique aliquam felis, aliquam bibendum tortor varius a. Vivamus eget ullamcorper purus. Pellentesque non tellus eget turpis commodo viverra id suscipit massa. Aliquam imperdiet suscipit nisl, ut tempus lectus ultricies non. Ut et diam quis nunc pulvinar interdum vel id velit. Nunc sed interdum massa, id gravida nisl. Vivamus suscipit rhoncus nunc vel interdum. </p><br>Integer a pellentesque ligula, nec maximus lacus. Cras imperdiet sapien id risus placerat, sed molestie nunc consequat. Fusce bibendum, orci semper scelerisque pulvinar, dui elit molestie eros, quis pretium nisi ligula vel risus.

Mauris malesuada ligula non lectus vestibulum scelerisque. Maecenas consectetur nunc in commodo congue. Nullam euismod, nisl sed faucibus ultricies, mi tellus gravida leo, ut pellentesque sem massa non eros. Mauris pretium ante nibh, et consectetur mauris fermentum nec. Donec convallis blandit nunc, ut vulputate nisl vehicula ut. Sed vulputate leo nunc, in varius felis fringilla eu. Aenean efficitur magna massa, in lacinia ante vehicula vitae. Pellentesque a elit a ante dictum semper. Praesent nec tortor non enim sodales commodo non vel felis.

Morbi elit dui, porttitor eleifend ullamcorper ut, feugiat id justo. Sed sit amet posuere mi, vel fermentum sapien. Pellentesque lectus turpis, aliquam mollis nunc quis, ultricies eleifend ipsum. Fusce gravida bibendum risus, ac dictum nibh feugiat quis. Curabitur molestie imperdiet tellus nec lobortis. Vestibulum commodo finibus sapien, in egestas urna lobortis non. Aliquam tincidunt felis et lectus lobortis, at bibendum quam pulvinar. Duis volutpat sed neque at rutrum. Curabitur tempor diam eu tellus tristique ultricies. Sed a blandit massa. Suspendisse potenti. Nam at elementum magna. Donec porta quis arcu eget porttitor. Cras lacinia tempor ipsum, in suscipit ipsum euismod mollis. Duis dapibus pharetra ante, dignissim feugiat risus pellentesque sit amet. In sagittis faucibus eleifend.</p>

        <a class="button small large-expanded" href="/contact/">Contact Us</a><br/>
  </div>
</div>


{% endblock %}

