{% extends 'base.html' %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

{% block title %}
    Login
{% endblock %}

{% block content %}

    <div id="login">
    <br><br><br>
        <h3 class="text-center text-white pt-5" style="font-size: 150px; font-family: 'Faster One', cursive;">Login form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            {% csrf_token %}
                            {{ form.as_table }}

                            <div class="form-group">
                                </label><br>
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="SUBMIT">
                            </div>
                            <div id="register-link" class="text-right">
                                <a href="/usersignup" class="text-info" style="color: black">Register here</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}